header {
  background: white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .header-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    svg {
      height: 35px;
      width: auto;
    }
    h1 {
      font-size: 1.3rem;
      color: black;
      font-weight: bold;
      margin: 0 0 0 20px;
    }
  }
}
